{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="greeting">
        Hello, {{ request.user }}!
    </div>
    <hr style="height: 0.3px;"/>
    <div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="title">
            <a class="article-title" href="/post/{{post.id}}"><h2>{{ post.title }}</h2></a>
        </div>
        <hr/>
        <div class="date-author">
            <!-- TODO: Add the profile pic somewhere -->
            <div class="date">
                {{post.date_posted|date:"M d Y"}}
            </div>
            <div class="author">
                <a class="article-title" href="/profiles/{{post.author.id}}">
                {{post.author}}
                </a>
            </div>
        </div>
        <hr/>
        <div class="content">
            {{post.content|truncatechars:60 }}
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<script type="text/javascript">
    const navbar = document.querySelector('.navbar');
    navbar.childNodes[1].classList.add('selected');
</script>
{% endblock %}