<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="title">
            <a class="article-title" href="{% url 'post-detail' post.id %}"><h2>{{ post.title }}</h2></a>
        </div>
        <hr/>
        <div class="media">
            <div class="date" style="margin-top: 0.4rem;">
                {{post.date_posted|date:"M d Y"}}
            </div>
            <div class="author">
                {% if request.user.is_authenticated and request.user.id == post.author.id %}
                    <a class="article-title" href="/profile">
                {% else %}
                    <a class="article-title" href="/profiles/{{post.author.username}}">
                {% endif %}
                {{post.author}}
                </a>
                <img class="rounded-circle account-img" width="30px" height="30px" style="margin: 0.1rem;" src="{{ post.author.profile.image.url }}"/>
            </div>
        </div>
        <hr/>
        <div class="content">
            {{post.content|truncatechars:60 }}
        </div>
    </div>
    {% endfor %}
    <div class="page-links">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-info">First</a>
            <a href="?page={{page_obj.previous_page}}" class="btn btn-outline-info">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{num}}" class="btn btn-outline">{{num}}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{num}}" class="btn btn-outline-info">{{num}}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info">Next</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info">Last</a>
        {% endif %}
    {% endif %}
    </div>
</div>